<div class="center-container">
  <div class="event-container">
    <div class="event-name"><%= @event.name %></div>
    <br>
    <div class="event-date"><%= @event.date %></div>
    <div class="container">
      <% @event.attendees.each do |attendee| %>
        <div class="name"><%= attendee.name %></div>
      <% end %>
    </div>
    <div class="center-container">
      <% if @event.creator_id == current_user.id %>
        <%= link_to 'Edit Event', edit_event_path, class: 'button' %>
      <% else %>
        <% if @event.attendees.include?(current_user) %>
          <% attendance = Attendance.find_by(attended_event_id: @event.id, attendee_id: current_user.id) %>
          <%= button_to 'Cancel Attendance', attendance_path(id: attendance.id, event_id: @event.id), method: :delete, class: 'button' %>
        <% else %>
          <%= button_to 'Attend Event', attendances_path(event_id: @event.id), method: :post, class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>